<form class="bs-component"
      id="episodeRatings"
      name="episodeRatings"
      ng-submit="ctrl.updateAndClose()"
      novalidate>

  <div class="modal-header">
    <h1 ng-bind="ctrl.episode.series_title"></h1>
  </div>

  <div class="modal-body clearfix">

    <div class="form-group col-lg-6">
      <img class="img-rounded"
           ng-src="{{'http://thetvdb.com/banners/'+ctrl.episode.tvdb_filename}}"
           width="100%"/>
    </div>

    <div class="form-group col-lg-6">
      <h2 ng-bind="ctrl.episode.title"></h2>
    </div>

    <div class="form-group col-lg-6">
      <h4>
        <span>Season</span>
        <strong><span ng-bind="ctrl.episode.season"></span></strong>
        <span> - Episode</span>
        <strong><span ng-bind="ctrl.episode.episode_number"></span></strong>
      </h4>
    </div>

    <div class="form-group col-lg-6">
      <span ng-bind="ctrl.episode.tvdb_overview"></span>
    </div>

    <div class="form-group col-lg-6">
      <label class="control-label" for="watchedDate">Watched</label>
      <div class="date">
        <input type="text"
               id="watchedDate"
               name="watchedDate"
               class="form-control"
               ng-model="ctrl.watched_date">
      </div>
    </div>

    <div class="form-group col-lg-3">
      <label class="control-label" for="ratingFunny">Funny</label>
      <input type="number"
             class="form-control input-lg"
             id="ratingFunny"
             name="ratingFunny"
             ng-required="false"
             min="1"
             max="100"
             ng-model="ctrl.episodeRating.rating_funny"/>
    </div>

    <div class="form-group col-lg-3">
      <label class="control-label" for="ratingCharacter">Character</label>
      <input type="number"
             class="form-control input-lg"
             id="ratingCharacter"
             name="ratingCharacter"
             ng-required="false"
             min="1"
             max="100"
             ng-model="ctrl.episodeRating.rating_character"/>
    </div>

    <div class="form-group col-lg-3">
      <label class="control-label" for="ratingStory">Story</label>
      <input type="number"
             class="form-control input-lg"
             id="ratingStory"
             name="ratingStory"
             ng-required="false"
             min="1"
             max="100"
             ng-model="ctrl.episodeRating.rating_story"/>
    </div>

    <div class="form-group col-lg-3">
      <label class="control-label" for="ratingValue">Overall</label>
      <input type="number"
             class="form-control input-lg"
             id="ratingValue"
             name="ratingValue"
             ng-required="true"
             min="1"
             max="100"
             ng-model="ctrl.episodeRating.rating_value"/>
    </div>

    <div class="form-group col-lg-12">

      <label class="control-label" for="review">Review</label>
      <textarea
             class="form-control"
             id="review"
             name="review"
             rows="5"
             ng-required="false"
             ng-model="ctrl.episodeRating.review"></textarea>

    </div>

  </div>


  <div class="modal-footer">
    <input class="btn btn-primary"
           type="submit"
           value="Submit"
           ng-disabled="episodeRatings.$invalid">
    <input class="btn btn-default"
           type="button"
           value="Cancel"
           ng-click="ctrl.cancel()">
  </div>

</form>

<script>
  $(document).ready(function()  {
    $('#watchedDate').datepicker({
      todayBtn: "linked",
      clearBtn: true,
      daysOfWeekHighlighted: "0,6",
      autoclose: true,
      todayHighlight: true
    });
  });
</script>

