

  <div class="container">
    <div>

      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-12">
            <h1>Movie List</h1>
            <p class="lead">All the movies on the TiVo.</p>
          </div>
        </div>
      </div>

      <div class="bs-docs-section clearfix">
        <div class="col-lg-12">
          <div id="episodeFilters">
              <button type="button"
                     class="btn btn-primary"
                     btn-checkbox
                     btn-checkbox-true="true"
                     btn-checkbox-false="false"
                     ng-model="ctrl.unwatchedOnly">Unwatched Only</button>
          </div>
          <div id="episodesContainer">
            <table class="table table-striped table-hover ">
              <thead>
              <th>Title</th>
              <th>Tier</th>
              <th>#</th>
              <th>Episode</th>
              <th>Date</th>
              <th>Time</th>
              <th>Watched</th>
              </thead>
              <tr data-ng-repeat="episode in ctrl.episodes |
                          filter:ctrl.episodeFilter |
                          orderBy:['tier', '-ShowingStartTime'] |
                          limitTo:50">
                <td ng-bind="episode.Title"></td>
                <td ng-bind="episode.tier"></td>
                <td ng-bind="episode.EpisodeNumber"></td>
                <td ng-bind="episode.EpisodeTitle" class="episodeDescription"></td>
                <td ng-bind="episode.ShowingStartTime|date:'EEE MM/d'"></td>
                <td ng-bind="episode.ShowingStartTime|date:'H:mm'"></td>
                <td>
                  <button type="button"
                          class="btn btn-success btn-sm"
                          btn-checkbox
                          btn-checkbox-true="true"
                          btn-checkbox-false="false"
                          ng-hide="episode.watched"
                          ng-model="episode.watched"
                          ng-change="ctrl.change(episode)">Mark Watched</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
