<div class="container">
  <div ng-controller="seriesController as ctrl">

    <div class="page-header" id="banner">
      <div class="row">
        <div class="col-lg-12">
        </div>
      </div>
    </div>


    <div class="container">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Queue</h3>
        </div>
        <div class="panel-body">
          <div class="row show-list">
            <div class="fade-repeat col-xs-4 col-md-3 posterRow" ng-repeat="show in ctrl.series |
                filter:ctrl.firstTier |
                orderBy:[ctrl.orderByRating].concat('-FullRating')">
              <a ng-click="ctrl.open(show)" href="">
                <img class="img-rounded"
                     ng-src="{{'http://thetvdb.com/banners/'+show.poster}}"
                     width="100%"/>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>This Week</h3>
        </div>
        <div class="panel-body">
          <div class="row show-list">
            <div class="fade-repeat col-xs-3 col-md-2 posterRow" ng-repeat="show in ctrl.series |
                filter:ctrl.upcomingSoon |
                orderBy:'nextAirDate'">
              <div>
                <a ng-click="ctrl.open(show)" href="">
                  <img class="img-rounded"
                       ng-src="{{'http://thetvdb.com/banners/'+show.poster}}"
                       width="100%"/>
                </a>
              </div>
              <div align="right">
                <span ng-bind="show.nextAirDate|date:'EEEE'"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="container">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Backlog</h3>
        </div>
        <div class="panel-body">
          <div class="row show-list">
            <div class="fade-repeat col-xs-3 col-md-2 posterRow" ng-repeat="show in ctrl.series |
                filter:ctrl.secondTier |
                orderBy:[ctrl.orderByRating].concat('-FullRating')">
              <a ng-click="ctrl.open(show)" href="">
                <img class="img-rounded"
                     ng-src="{{'http://thetvdb.com/banners/'+show.poster}}"
                     width="100%"/>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>
