  <div class="modal-header">
    <h3 class="modal-title">Add New Series</h3>
  </div>

  <div class="modal-body clearfix">

    <div class="alert alert-warning" ng-show="ctrl.showExists">
      Show name already exists!
    </div>

    <form class="bs-component"
          name="newSeriesFields"
          novalidate>
      <div class="form-group col-lg-9">

        <div class="col-lg-6">

          <label class="control-label" for="newSeriesTitle">Name</label>
          <input type="text"
                 class="form-control"
                 id="newSeriesTitle"
                 name="newSeriesTitle"
                 ng-required="true"
                 ng-change="ctrl.updateShowExists()"
                 ng-model="ctrl.series.title"/>
        </div>

        <div class="col-lg-3">
          <input type="button"
                 class="btn btn-info"
                 value="Search"
                 ng-click="ctrl.updateTVDBMatches()">
        </div>
      </div>
    </form>

  </div>
  <div class="modal-footer">
    <button class="btn btn-success"
            ng-click="ctrl.ok()"
            ng-show="ctrl.LockService.isAdmin()"
            ng-disabled="newSeriesFields.$invalid || !ctrl.LockService.isAuthenticated">Submit</button>
    <button class="btn btn-primary"
            ng-click="ctrl.cancel()">Cancel</button>
  </div>