<div class="modal-header">
  <h1 ng-bind="ctrl.series.title"></h1>
</div>

<div class="modal-body clearfix">

  <div class="topGrid">

    <div class="leftColumn">
      <img class="img-rounded"
           ng-src="{{ctrl.series.posterResolved}}"
           err-src="images/GenericSeries.gif"
           width="210px"
           ng-click="ctrl.openChangePoster()"/>
    </div>

    <div class="middleColumn">

      <!-- Series scores -->

      <form class="bs-component"
            id="seriesFields"
            name="seriesFields"
            ng-submit="ctrl.rateMyShow()"
            novalidate
            ng-show="ctrl.owned">

        <div class="scoresSection detailSection">

          <div class="scoreTitle" style="grid-column: 1; grid-row: 1">
            <span>Rating:</span>
          </div>
          <div class="ratingInputBox" style="grid-column: 2; grid-row: 1">
            <input type="number"
                   class="ratingInput form-control"
                   id="myRatingInput"
                   name="myRatingInput"
                   min="1"
                   max="100"
                   ng-model="ctrl.interfaceFields.my_rating"/>
          </div>
          <div style="grid-column: 3; grid-row: 1">
            <button class="btn btn-default ratingSaveButton"
                    type="submit"
                    ng-disabled="seriesFields.$invalid || !ctrl.ratingIsChanged()">Save</button>
          </div>



          <div class="scoreTitle" style="grid-column: 1; grid-row: 2">
            <span>Metacritic:</span>
          </div>
          <div class="scoreBox"
               style="grid-column-start: 2; grid-column-end: 3; grid-row: 2"
               ng-style="ctrl.colorStyle(ctrl.series.metacritic)">
            <span ng-bind="ctrl.series.metacritic === null ? '--' : ctrl.series.metacritic"></span>
          </div>

          <div class="scoreTitle" style="grid-column: 1; grid-row: 3">
            <span>Dynamic:</span>
          </div>
          <div class="scoreBox" style="grid-column-start: 2; grid-column-end: 3; grid-row: 3"
               ng-style="ctrl.colorStyle(ctrl.series.dynamic_rating)">
            <span ng-bind="ctrl.getFormattedNumber(ctrl.series.dynamic_rating)"></span>
          </div>

        </div>
      </form>

    </div>

    <div class="rightColumn">
      <!-- Ownership status -->

      <div class="detailRightSide">


          <div class="btn-group ownershipButtonGroup detailSection" role="group" id="ownerships" ng-show="ctrl.owned">
            <button type="button"
                    class="btn"
                    ng-class="ctrl.getPinnedClass()"
                    ng-click="ctrl.changeTier(1)">Pinned</button>
            <button type="button"
                    class="btn"
                    ng-class="ctrl.getBacklogClass()"
                    ng-click="ctrl.changeTier(2)">Backlog</button>
            <button type="button"
                    class="btn"
                    ng-class="ctrl.getRemovedClass()"
                    ng-click="ctrl.removeFromMyShows()">Removed</button>
          </div>



          <!-- Admin functions -->

          <div class="detailSection btn-group" ng-show="ctrl.LockService.isAdmin()">
            <button type="button"
                    class="btn btn-default"
                    ng-click="ctrl.openEditSeries()"
                    ng-show="ctrl.LockService.isAdmin()"
                    ng-disabled="!ctrl.LockService.isAuthenticated">Edit</button>

            <button type="button"
                    class="btn btn-warning"
                    ng-show="ctrl.LockService.isAdmin()"
                    ng-disabled="ctrl.series.tvdb_manual_queue"
                    ng-click="ctrl.queueForManualUpdate()">TVDB Update</button><br>
            <span ng-bind="'Last Update: ' + ctrl.daysSinceLastUpdate + ' days.'"></span>
          </div>

      </div>
    </div>

    <div class="bottomRow" ng-show="ctrl.owned">
      Season:
      <label ng-repeat="season in ctrl.seasonLabels"
             ng-class="ctrl.getSeasonButtonClass(season)"
             ng-model="ctrl.selectedSeason"
             style="font-size: x-large"
             uib-btn-radio="season">
        <span ng-bind="season"></span>
      </label>
    </div>
  </div>



  <table class="table table-striped table-hover" ng-show="ctrl.owned">
    <thead>
    <th>Episode</th>
    <th>Title</th>
    <th>Date</th>
    <th>Watched</th>
    <th>Rating</th>
    </thead>
    <tr data-ng-repeat="episode in ctrl.episodes |
                          filter:ctrl.episodeFilter |
                          orderBy:['tvdb_episode_number']"
      ng-click="ctrl.openEpisodeDetail(episode)"
      ng-class="ctrl.rowClass(episode)">
      <td ng-bind="episode.episode_number"></td>
      <td ng-bind="episode.title" class="episodeDescription"></td>
      <td ng-bind="episode.air_time|date:ctrl.getDateFormat(episode.air_time):'America/Los_Angeles'"></td>
      <td>
        <span ng-bind="ctrl.getWatchedDateOrWatched(episode)"></span>
      </td>
      <td ng-style="episode.colorStyle()" width="70">
        <span ng-bind="ctrl.getRating(episode)"></span>
      </td>
    </tr>
  </table>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ctrl.ok()">Close</button>
</div>