<div class="panel" ng-class="ctrl.panelFormat()" ng-hide="!ctrl.panelInfo.showEmpty && ctrl.totalItems() === 0">

  <!-- GROUP HEADER -->
  <div class="panel-heading">
    <h3 ng-bind="ctrl.panelInfo.headerText"></h3>
  </div>

  <div class="panel-body">

    <div class="row">
      <div class="fade-repeat posterRow" ng-class="ctrl.imageColumnClass()" ng-repeat="show in ctrl.shows |
                    orderBy: ctrl.panelInfo.sortArray |
                    filter: ctrl.panelInfo.tvFilter |
                    limitTo: ctrl.pageSize : (ctrl.currentPageUpNext - 1) * ctrl.pageSize">

        <!-- POSTER -->

        <a href="">
          <img class="img-rounded"
               ng-src="{{show.posterResolved}}"
               err-src="images/GenericSeries.gif"
               width="100%"
               ng-click="ctrl.open(show)"/>

          <!-- UNWATCHED BADGE -->
          <div class="posterBadge" ng-hide="ctrl.panelInfo.hideBadge || show.unwatched_all === 0">
            <span ng-bind="show.unwatched_all"></span>
          </div>

          <div class="posterTitle" ng-show="show.imageDoesNotExist">
            <span ng-bind="show.title"></span>
          </div>

        </a>

        <!-- SUBTITLE (optional) -->

        <div align="right" ng-show="ctrl.exists(ctrl.panelInfo.subtitle(show))">
          <h5 ng-bind="ctrl.panelInfo.subtitle(show)"></h5>
        </div>

      </div>
    </div>


    <!-- PAGE NUMBERS (optional) -->

    <div class="row">
      <div class="col-lg-12" ng-show="ctrl.totalItems() > ctrl.pageSize">
        <ul uib-pagination
            total-items="ctrl.totalItems()"
            ng-model="ctrl.currentPageUpNext"
            items-per-page="ctrl.pageSize"></ul>
      </div>
    </div>

  </div>
</div>