
<!-- POSTER -->

<a href="">

  <img class="img-rounded"
       ng-src="{{ctrl.tvdbPosterPath()}}"
       err-src="images/GenericSeries.gif"
       width="100%"
       ng-style="ctrl.extraStyles(ctrl.show)"
       ng-click="ctrl.click(ctrl.show)"
       alt="{{ctrl.show.title}}"/>

  <!-- UNWATCHED BADGE -->

  <div class="posterBadge" ng-hide="ctrl.badgeValue() === null || ctrl.badgeValue() === 0">
    <span ng-bind="ctrl.badgeValue()"></span>
  </div>

  <div class="centeredInFrame posterTitle" ng-show="!ctrl.show.cloud_poster || ctrl.show.imageDoesNotExist">
    <span ng-bind="ctrl.show.title"></span>
  </div>

  <div class="centeredInFrame alreadyExistsOverlay" ng-show="ctrl.alreadyExists()">
    <span>Already Added</span>
  </div>

  <div class="centeredInFrame alreadyExistsOverlay" ng-show="ctrl.showNoTrailer()">
    <span>No Trailer</span>
  </div>


</a>
