
<!-- POSTER -->

<a href="">

  <img class="img-rounded"
       ng-src="{{ctrl.tvdbPosterPath()}}"
       err-src="images/GenericSeries.gif"
       width="100%"
       ng-style="ctrl.extraStyles(ctrl.show)"
       ng-click="ctrl.click(ctrl.show)"
       alt="{{ctrl.show.title}}"/>

  <!-- UNWATCHED BADGE -->

  <div class="posterBadge" ng-hide="ctrl.badgeValue() === null || ctrl.badgeValue() === 0">
    <span ng-bind="ctrl.badgeValue()"></span>
  </div>

  <div class="posterTitle" ng-hide="ctrl.show.poster">
    <span ng-bind="ctrl.show.title"></span>
  </div>

</a>
