<div class="container">

  <div class="page-header empty-header" id="banner">
    <div class="row">
      <div class="col-lg-12">

      </div>
    </div>
  </div>


  <!-- FRIENDS PANEL -->

  <div class="panel panel-default">

    <div class="panel-heading">

      <div class="row">
        <div class="col-xs-9">
          <h3>Friends</h3>
        </div>
        <div class="col-xs-3 text-right">
          <button class="btn btn-primary"
                  ng-click="ctrl.toggleGroupMode()">
            Create Group
          </button>
        </div>
      </div>

    </div>


    <div class="panel-body">

      <div class="row"
           ng-if="ctrl.isInGroupMode()">

        <div class="col-xs-5">

        </div>

        <div class="col-xs-5">

          <input type="text"
                 class="form-control input-lg"
                 placeholder="Group Name"
                 id="groupName"
                 ng-model="ctrl.groupName"
                 required>

        </div>

        <div class="col-xs-2 text-right">

          <button class="btn btn-lg btn-success"
                  ng-disabled="!ctrl.readyToSubmit() || !ctrl.LockService.isAuthenticated()"
                  ng-click="ctrl.submitNewGroup()">
            Submit
          </button>

        </div>

      </div>

      <div class="row" style="margin-top: 15px">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 friendCardContainer"
             ng-repeat="person in ctrl.getFriends() |
                      orderBy:['last_name', 'first_name']">

          <div class="friendCard"
               ng-class="ctrl.getFriendTileClass(person)">
            <div class="row">
              <div class="col-xs-9">
                <span class="friendName">{{person.name}}</span>

              </div>

              <div class="col-xs-3 text-right">
                <button type="button"
                        class="btn btn-sm btn-danger"
                        ng-if="!ctrl.isInGroupMode()"
                        ng-click="ctrl.removeClicked(person)">
                  <img src="../../images/XSignWhite.svg"
                       width="16"
                       height="16"
                       alt="checked">
                </button>

                <button type="button"
                        class="btn btn-sm btn-success"
                        ng-if="ctrl.isInGroupMode() && !ctrl.isPersonInGroup(person)"
                        ng-click="ctrl.addToGroupPersons(person)">
                  <img src="../../images/PlusSignWhite.svg"
                       width="16"
                       height="16"
                       alt="checked">
                </button>

                <button type="button"
                        class="btn btn-sm btn-tv-primary"
                        ng-if="ctrl.isInGroupMode() && ctrl.isPersonInGroup(person)"
                        ng-click="ctrl.removeFromGroupPersons(person)">
                  <img src="../../images/Checkmark.svg"
                       width="16"
                       height="16"
                       alt="checked">
                </button>

              </div>

            </div>

          </div>
        </div>
      </div>
    </div>


  </div>


  <!-- POTENTIAL FRIENDS PANEL -->

  <div class="panel panel-default"
       ng-if="!ctrl.isInGroupMode()">

    <div class="panel-heading">
      <h3>Potential Friends</h3>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 friendCardContainer"
             ng-repeat="person in ctrl.getPotentialFriends() |
                      orderBy:['last_name', 'first_name']">

          <div class="friendCard">
            <div class="row">
              <div class="col-md-12">
                <span class="friendName">{{person.name}}</span>
              </div>
            </div>
            <div class="row"
                 style="margin-top: 5px">
              <div class="col-md-12 text-right">

                <!-- SEND -->
                <button type="button"
                        class="btn btn-sm btn-default"
                        ng-if="ctrl.showAdd(person)"
                        ng-click="ctrl.addClicked(person)">
                  Add Friend
                </button>

                <!-- APPROVE -->
                <button type="button"
                        class="btn btn-sm btn-success"
                        ng-if="ctrl.showApprove(person)"
                        ng-click="ctrl.approveClicked(person)">
                  Confirm
                </button>

                <!-- IGNORE -->
                <button type="button"
                        class="btn btn-sm btn-warning"
                        ng-if="ctrl.showIgnoreButton(person)"
                        ng-click="ctrl.ignoreClicked(person)">
                  Ignore
                </button>

                <!-- UN-SEND -->
                <button type="button"
                        class="btn btn-sm btn-info"
                        ng-show="ctrl.showSent(person)"
                        ng-click="ctrl.unsendClicked(person)">
                  Friend Request Sent
                </button>

                <!-- UN-IGNORE -->
                <button type="button"
                        class="btn btn-sm btn-warning"
                        ng-show="ctrl.showUnIgnore(person)"
                        ng-click="ctrl.unIgnoreClicked(person)">
                  Un-Ignore
                </button>

              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

  </div>





</div>
