<button type="button"
        class="btn"
        ng-class="ctrl.getButtonClass()"
        ng-click="ctrl.onClick()">
  <div class="text-left">
    <img ng-if="ctrl.buttonIsToggled()"
         src="../images/Checkmark.svg"
         width="24"
         height="24"
         alt="checked">
    <img ng-if="!ctrl.buttonIsToggled()"
         src="../images/NoCheckmark.svg"
         width="24"
         height="24"
         alt="unchecked">
    <span ng-bind="ctrl.getLabel()"></span>
  </div>

</button>
