<!DOCTYPE html>
<html ng-app="mediaMogulApp">
  <head>
    <title>Episodes</title>
    <link rel="stylesheet" type="text/css"
          href="stylesheets/style.css" />
  </head>
  <body>
    <div ng-controller="episodeController as ctrl">
      <div id="episodeFilters">
        <label>Unwatched Only
          <input type="checkbox"
                 ng-model="ctrl.unwatchedOnly"/>
        </label>
      </div>
      <div id="episodesContainer">
        <table>
          <tr>
            <th>Title</th>
            <th>#</th>
            <th class="episodeDescription">Episode</th>
            <th>Date</th>
            <th>Time</th>
            <th>Watched</th>
          </tr>
          <tr data-ng-repeat="episode in ctrl.episodes | filter:ctrl.episodeFilter">
            <td ng-bind="episode.Title"></td>
            <td ng-bind="episode.EpisodeNumber"></td>
            <td ng-bind="episode.EpisodeTitle" class="episodeDescription"></td>
            <td ng-bind="episode.ShowingStartTime|date:'EEE MM/d'"></td>
            <td ng-bind="episode.ShowingStartTime|date:'H:mm'"></td>
            <td>
              <input type="checkbox" name="Watched"
                     ng-model="episode.Watched"
                     ng-change="ctrl.change(episode)">
            </td>
          </tr>
        </table>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.js"></script>
    <script src="javascripts/angular_app.js"></script>
  </body>
</html>
