<!DOCTYPE html>
<html ng-app="mediaMogulApp">
  <head>
    <title>Shows</title>
    <link rel="stylesheet" type="text/css"
          href="stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>

    <div ng-controller="showController">
      <div id="showsContainer">
    <table>
      <tr>
        <th>Title</th>
        <th>#</th>
        <th class="episodeDescription">Episode</th>
        <th>Start Time</th>
        <th>Deleted</th>
      </tr>
      <tr data-ng-repeat="show in shows">
        <td ng-bind="show.Title"></td>
        <td ng-bind="show.EpisodeNumber"></td>
        <td ng-bind="show.EpisodeTitle" class="episodeDescription"></td>
        <td ng-bind="show.ShowingStartTime|date:'EEE MM/d H:mm'"></td>
        <td ng-bind="show.DeletedDate|date:'EEE MM/d H:mm'"></td>
      </tr>
    </table>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.js"></script>
    <script src="javascripts/angular_app.js"></script>
  </body>
</html>
