<div class="modal-header">
  <h3 ng-bind="ctrl.series.title"></h3>
</div>

<div class="modal-body clearfix">

  <div class="col-md-3 col-sm-4 col-xs-5">
    <tv-poster show="ctrl.series"
               poster-info="{}"></tv-poster>
  </div>

  <div class="col-md-9 col-sm-8 col-xs-7">

    <div class="row seriesDetailElement">
      <div class="col-md-8 col-sm-11 col-xs-12">
        <label for="reasonInput">Reason</label>
        <select id="reasonInput"
                ng-model="ctrl.reason"
                ng-options="x for x in ctrl.possibleReasons"
                class="form-control darkInput"></select>
      </div>
    </div>

    <div class="row seriesDetailElement" ng-if="ctrl.needsTrailer()">
      <div class="col-md-8 col-sm-11 col-xs-12">
        (Series has no trailer yet! Paste link to trailer video below to give voters a sense for the show!)<br><br>
        <label for="trailerInput" class="control-label">Trailer Link:</label>
        <input type="text"
               class="form-control"
               id="trailerInput"
               ng-model="ctrl.inputTrailer"/>
      </div>
    </div>

  </div>

</div>

<div class="modal-footer">
  <input type="button"
         class="btn btn-success"
         ng-click="ctrl.addBallot()"
         value="Add Ballot">
  <input type="button"
         class="btn btn-warning"
         ng-click="ctrl.skipBallot()"
         value="Skip Ballot">
  <input type="button"
         class="btn btn-default"
         ng-click="ctrl.cancel()"
         value="Cancel">
</div>


