<form class="bs-component"
      id="episodeDetail"
      name="episodeDetail"
      ng-submit="ctrl.updateAndClose()"
      novalidate>

  <div class="modal-header">
    <h1 ng-bind="ctrl.series.title"></h1>
  </div>

  <div class="modal-body clearfix">

    <!-- Top Group -->
    <div class="form-group col-lg-12">

      <!-- Episode Image -->
      <div class="form-group col-lg-6">
        <img class="img-rounded"
             ng-src="{{ctrl.getImageResolved()}}"
             width="100%"/>
      </div>


      <div class="form-group col-lg-6">

        <!-- Title -->
        <div class="row">
          <h2 ng-bind="ctrl.episode.title"></h2>
        </div>

        <!-- Episode Number -->
        <div class="row">
          <h4>
            <span>Season</span>
            <strong><span ng-bind="ctrl.episode.season"></span></strong>
            <span> - Episode</span>
            <strong><span ng-bind="ctrl.episode.episode_number"></span></strong>
          </h4>
        </div>

        <!-- Episode Summary -->
        <div class="row">
          <span ng-bind="ctrl.episode.tvdb_overview"></span>
        </div>

        <!-- Air Date (uses Bootstrap Switch - remember javascript snippet at bottom to activate!) -->
        <div class="row" ng-show="ctrl.LockService.isAdmin()" style="margin-top: 15px">
          <div class="col-lg-6" style="margin-left: -15px">
            <label class="control-label" for="airDate">Aired</label>
            <div class="date">
              <input type="text"
                     id="airDate"
                     name="airDate"
                     class="form-control"
                     ng-model="ctrl.air_date">
            </div>
          </div>
        </div>

        <div class="row" ng-show="!ctrl.LockService.isAdmin()" style="margin-top: 15px">
          Air Date: <span ng-bind="ctrl.air_date"></span>
        </div>

      </div>

    </div>


    <div class="row">

      <div class="form-group col-lg-6">
        <div class="col-lg-12 form-subsection" ng-class="ctrl.getSectionClass('watched')">

          <div class="row">
            <div class="col-lg-12" style="text-align: center">
              <button type="button"
                      uib-btn-checkbox
                      class="btn btn-success btn-lg"
                      ng-model="ctrl.interfaceFields.watched"
                      ng-click="ctrl.changeWatched()">
                Watched
              </button>
            </div>
          </div>

          <div class="row" style="margin-top: 15px" ng-show="ctrl.interfaceFields.watched">
            <div class="col-lg-6">
              <label class="control-label" for="watchedDate">Watched On</label>
              <!-- Watch Date (uses Bootstrap Switch - remember javascript snippet at bottom to activate!) -->

              <div class="input-group">
                <input type="text"
                       id="watchedDate"
                       name="watchedDate"
                       class="form-control date"
                       ng-model="ctrl.watched_date">
                <span class="input-group-btn">
                    <input type="button"
                           class="btn btn-default"
                           value="Clear"
                           ng-disabled="!ctrl.watched_date"
                           ng-click="ctrl.clearWatchedDate()">
                </span>
              </div>
            </div>
          </div>

          <div class="row" style="margin-top: 20px" ng-show="ctrl.interfaceFields.watched && !ctrl.firstUnwatched">

            <!-- All Past  -->
            <div class="form-group col-lg-2">
              <div>
                <input type="checkbox"
                       checked
                       class="form-control"
                       ng-model="ctrl.allPastEpisodes">
              </div>
            </div>

            <div class="form-group col-lg-10 form-text">
              <span>Mark this episode watched with above date, and all previous episodes as watched with no date.</span>
            </div>

          </div>


        </div>
      </div>

      <div class="form-group col-lg-6">
        <div class="col-lg-12 form-subsection" ng-class="ctrl.getSectionClass('skipped')">

          <div class="row">
            <div class="col-lg-12" style="text-align: center">
              <button type="button"
                      uib-btn-checkbox
                      class="btn btn-warning btn-lg"
                      ng-model="ctrl.interfaceFields.skipped"
                      ng-click="ctrl.changeSkipped()">
                Skipped
              </button>
            </div>
          </div>

          <div class="row" style="margin-top: 20px" ng-show="ctrl.interfaceFields.skipped && !ctrl.firstUnwatched">

            <!-- All Past  -->
            <div class="form-group col-lg-2">
              <div>
                <input type="checkbox"
                       checked
                       class="form-control"
                       ng-model="ctrl.allPastEpisodes">
              </div>
            </div>

            <div class="form-group col-lg-10 form-text">
              <span>Mark this and all previous episodes as skipped with given reason.</span>
            </div>

          </div>


        </div>
      </div>
    </div>




  </div>


  <div class="modal-footer">
    <input class="btn btn-primary"
           type="submit"
           value="Submit"
           ng-show="ctrl.LockService.isUser()"
           ng-disabled="episodeDetail.$invalid || !ctrl.LockService.isAuthenticated">
    <input class="btn btn-default"
           type="button"
           value="Cancel"
           ng-click="ctrl.cancel()">
  </div>

</form>

<script>
  $(document).ready(function()  {
    $('#watchedDate').datepicker({
      todayBtn: "linked",
      clearBtn: false,
      daysOfWeekHighlighted: "0,6",
      autoclose: true,
      todayHighlight: true
    });
    $('#airDate').datepicker({
      todayBtn: "linked",
      clearBtn: true,
      daysOfWeekHighlighted: "0,6",
      autoclose: true,
      todayHighlight: true
    });
  });
</script>

