<div class="modal-header">
  <h3 ng-bind="'Group Settings: ' + ctrl.group.name"></h3>
</div>

<div class="modal-body clearfix">

  <div class="row">
    <div class="col-lg-3">
      <label for="minWeight">Minimum Weight:</label>
      <input type="number"
             class="form-control"
             id="minWeight"
             min="0"
             max="1"
             ng-model="ctrl.minWeight">
    </div>
  </div>

</div>

<div class="modal-footer">
  <input type="button"
         class="btn btn-default"
         ng-click="ctrl.cancel()"
         value="Cancel">
</div>


