
<div class="row" style="margin-bottom: 10px">
  <div class="col-md-6 col-sm-9">
    <h4 ng-bind="ctrl.memberNames" ></h4>
  </div>

  <div class="col-md-2 col-sm-3">
    <button type="button"
            style="margin-bottom: 3px; margin-left: 10px"
            class="btn btn-success btn-lg"
            ng-click="ctrl.addShows()">Add Shows</button>
  </div>

  <div class="col-md-4 col-sm-12 custom-typeahead" style="text-align:right">
    <input type="text"
           ng-model="ctrl.quickFindResult"
           placeholder="Search..."
           uib-typeahead="show as show.title for show in ctrl.shows | filter:{title:$viewValue} | limitTo:5"
           typeahead-on-select="ctrl.open(ctrl.quickFindResult)"
           class="darkInput form-control input-lg">

  </div>

</div>

<!-- SHOWS section -->
<!--suppress JSUnusedLocalSymbols -->
<div ng-repeat="panel in ctrl.dashboardInfos">
  <tv-panel panel-info="panel"
            on-click="ctrl.open"></tv-panel>
</div>

