
<div class="container" style="margin-top: 10px">

  <!-- RECENTLY PLAYED section -->
  <game-group header="'Recently Played'" games="ctrl.recentGames" owned="true"></game-group>

  <!-- NEWLY ADDED section -->
  <game-group header="'Newly Added'" games="ctrl.newlyAddedGames" owned="true"></game-group>

  <!-- ALMOST DONE section -->
  <game-group header="'Almost Done'" games="ctrl.almostDoneGames" owned="true"></game-group>

  <!-- ENDLESS section -->
  <game-group header="'Endless'" games="ctrl.endlessGames" owned="true"></game-group>

  <!-- PLAY AGAIN section -->
  <game-group header="'Play Again'" games="ctrl.playAgainGames" owned="true"></game-group>

</div>