
<div class="container" style="margin-top: 10px">

  <!-- RECENTLY PLAYED section -->
  <game-group header="'Recently Played'" games="ctrl.recentGames"></game-group>

  <!-- NEWLY ADDED section -->
  <game-group header="'Newly Added'" games="ctrl.newlyAddedGames"></game-group>

  <!-- ALMOST DONE section -->
  <game-group header="'Almost Done'" games="ctrl.almostDoneGames"></game-group>

  <!-- ENDLESS section -->
  <game-group header="'Endless'" games="ctrl.endlessGames"></game-group>

  <!-- PLAY AGAIN section -->
  <game-group header="'Play Again'" games="ctrl.playAgainGames"></game-group>

</div>