<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-lg-8">
        <h3 ng-bind="ctrl.header"></h3>
      </div>
      <div class="col-lg-4" style="text-align: right;" ng-show="ctrl.searchBar">
        <input type="text"
               ng-model="ctrl.titleSearch"
               class="form-control">
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row gameRow">
      <div class="fade-repeat col-xs-4 col-md-4 gameCard" ng-repeat="game in ctrl.games |
          filter: ctrl.gamesFilter |
          filterByTitle: ctrl.titleSearch |
          orderBy: 'title' |
          limitTo: ctrl.pageSize : (ctrl.currentPage - 1) * ctrl.pageSize">
        <game-card game="game" owned="ctrl.owned" refresh-callback="ctrl.refreshCallback"></game-card>
      </div>
    </div>

    <div class="row" ng-show="ctrl.paging">
      <div class="col-lg-12" ng-show="ctrl.totalItems() > ctrl.pageSize">
        <ul uib-pagination
            total-items="ctrl.totalItems()"
            ng-model="ctrl.currentPage"
            items-per-page="ctrl.pageSize"
            force-ellipses="true"
            boundary-link-numbers="true"
            max-size="6"></ul>
      </div>
    </div>

  </div>
</div>