
<tv-panel shows="ctrl.mySeriesRequests"
          panel-info="ctrl.seriesRequestPanel"></tv-panel>

<!-- QUEUE section -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Shows</h3>
  </div>
  <div class="panel-body">

    <div class="row">
      <div class="col-lg-8" style="margin-top: -20px">
        <ul uib-pagination
            ng-show="ctrl.totalItems > ctrl.pageSize"
            total-items="ctrl.totalItems"
            ng-model="ctrl.currentPage"
            items-per-page="ctrl.pageSize"
            max-size="10"></ul>
      </div>
      <div class="col-lg-4" style="text-align: right">
        <input type="text"
               ng-model="ctrl.titleSearch"
               placeholder="Search..."
               ng-change="ctrl.updateTitleSearch()"
               class="darkInput form-control">
      </div>
    </div>

    <div class="row">
      <div class="fade-repeat col-xs-4 col-md-3 posterRow" ng-repeat="show in ctrl.series |
                filterByTitle: ctrl.titleSearch |
                limitTo : ctrl.pageSize : (ctrl.currentPage - 1) * ctrl.pageSize">
        <img class="img-rounded"
             ng-style="ctrl.posterStyle(show)"
             ng-src="{{show.posterResolved}}"
             err-src="images/GenericSeries.gif"
             width="100%"/>
        <div class="centeredInFrame posterTitle" ng-show="show.imageDoesNotExist">
          <span ng-bind="show.title"></span>
        </div>
        <div class="addShowButton">
          <input type="button"
                 class="btn btn-success"
                 style="width: 100pt"
                 ng-click="ctrl.addToMyShows(show)"
                 ng-disabled="ctrl.addedRecently(show)"
                 value="Add Show">
        </div>
      </div>
    </div>

    <div class="row">
      <ul uib-pagination
          ng-show="ctrl.totalItems > ctrl.pageSize"
          total-items="ctrl.totalItems"
          ng-model="ctrl.currentPage"
          items-per-page="ctrl.pageSize"
          max-size="16"></ul>
    </div>

  </div>
</div>
