
<div class="container" style="margin-top: 10px">

  <div class="page-header" style="margin-bottom: 2px" id="banner">
    <div class="row">
      <div class="col-lg-12">

      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 10px">

    <div class="form-group col-lg-9">

      <div class="col-lg-6">

        <div class="input-group">
          <input type="text"
                 class="form-control"
                 id="newSeriesTitle"
                 name="newSeriesTitle"
                 placeholder="Series Name"
                 ng-required="true"
                 ng-model-options="{ updateOn: 'blur' }"
                 ng-model="ctrl.searchString"/>
          <span class="input-group-btn">
              <input type="button"
                     class="btn btn-info"
                     value="Search"
                     ng-disabled="!ctrl.fullDataLoaded || !ctrl.requestsLoaded"
                     ng-click="ctrl.updateTVDBMatches()">
            </span>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="ctrl.searchStarted">
    <tv-panel panel-info="ctrl.inSystemPanel"></tv-panel>
    <tv-panel panel-info="ctrl.externalPanel"></tv-panel>
  </div>

</div>
