<div class="modal-header">
  <h1 ng-bind="ctrl.series.title"></h1>
</div>

<div class="modal-body clearfix">
  <div class="row">

    <div class="fade-repeat col-md-3 col-sm-4 col-xs-6 posterRow" ng-repeat="poster in ctrl.allPosters |
                  filter: ctrl.posterFilter">
      <tv-poster show="poster"
                 poster-info="ctrl.posterInfo"
                 on-click="ctrl.selectPoster"></tv-poster>
    </div>

  </div>

</div>

<div class="modal-footer">
  <input class="btn btn-default"
         type="button"
         value="Cancel"
         ng-click="ctrl.cancel()">
</div>
