
<tv-panel shows="ctrl.series_requests"
          panel-info="ctrl.seriesRequestPanel"
          series-detail-open="ctrl.reviewRequest"></tv-panel>


<!--suppress JSUnusedLocalSymbols -->
<tv-panel ng-show="ctrl.LockService.isUser()"
          shows="ctrl.pendingShows"
          panel-info="ctrl.pendingDashboardInfo"></tv-panel>

<!--suppress JSUnusedLocalSymbols -->
<div ng-repeat="panel in ctrl.dashboardInfos">
  <tv-panel panel-info="panel"
            series-detail-open="ctrl.open"></tv-panel>
</div>
