
<div class="page-header" style="margin-bottom: 2px" id="banner">
  <div class="row">
    <div class="col-lg-12">

    </div>
  </div>
</div>

<div style="margin-top: 10px">

  <div class="row" style="margin: 0 0 10px 0;">
    <div class="col-sm-3 col-xs-6" style="padding: 0 2px 0 2px">

      <drop-down dynamic-value="ctrl.getSelectedCategory"
                 dynamic-possible-values="ctrl.getCategories"
                 on-change-callback="ctrl.onCategoryChange"></drop-down>

    </div>
    <div class="col-md-2 col-sm-3 col-xs-6" style="padding: 0 2px 0 2px">

      <drop-down dynamic-value="ctrl.getSelectedSubCategory"
                 possible-values="ctrl.subCategories"
                 on-change-callback="ctrl.onSubCategoryChange"></drop-down>

    </div>
    <div class="col-md-2 col-sm-3 col-xs-5" style="padding: 0 2px 0 2px">

      <button type="button"
              class="btn btn-lg btn-default"
              ng-click="ctrl.EpisodeService.updateMyShowsList()">
        Update
      </button>

      <button type="button"
              class="btn btn-lg btn-success"
              ng-click="ctrl.addSeries()"
              ng-disabled="!ctrl.EpisodeService.isFinishedLoadingAllShows()">
        +
      </button>

    </div>
    <div class="col-md-5 col-sm-3 col-xs-7 custom-typeahead" style="padding: 0 4px 0 4px">
      <input type="text"
             placeholder="Quick Find..."
             ng-model="ctrl.quickFindResult"
             ng-disabled="!ctrl.EpisodeService.isFinishedLoadingAllShows()"
             uib-typeahead="show as show.title for show in ctrl.getQuickFindShows() | showQuickFilter:$viewValue | limitTo:5"
             typeahead-on-select="ctrl.handleQuickFind(ctrl.quickFindResult)"
             class="form-control input-lg">
    </div>
  </div>

  <div class="row" ng-if="ctrl.showDashboard()">
    <div class="col-lg-12">

      <div ui-view></div>

    </div>
  </div>
</div>

