<form class="bs-component"
      id="createGroup"
      name="createGroup"
      ng-submit="ctrl.submitNewGroup()">

<div class="modal-header">
  <h1>Create Group</h1>
</div>

<div class="modal-body clearfix">

  <input type="text"
         class="darkInput form-control"
         placeholder="Group Name"
         id="groupName"
         ng-model="ctrl.name"
         required>

  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>E-Mail</th>
      <th>Add</th>
    </tr>
    </thead>
    <tr data-ng-repeat="person in ctrl.persons |
                          orderBy:['last_name', 'first_name']"
        ng-class="ctrl.rowClass(person)">
      <td ng-bind="person.name"></td>
      <td ng-bind="person.email"></td>
      <td>
        <input type="button"
               class="btn btn-sm btn-default"
               value="Add"
               ng-click="ctrl.addPerson(person)">
      </td>
    </tr>
  </table>

</div>

<div class="modal-footer">
  <input class="btn btn-primary"
         type="submit"
         value="Submit"
         ng-show="ctrl.LockService.isAdmin()"
         ng-disabled="!ctrl.readyToSubmit() || !ctrl.LockService.isAuthenticated">
  <input class="btn btn-default"
         type="button"
         value="Cancel"
         ng-click="ctrl.cancel()">
</div>

</form>