
<div class="row" style="margin-bottom: 10px">
  <div class="col-lg-7">
  <h4 ng-bind="ctrl.memberNames" ></h4>
  </div>

  <div class="col-lg-5" style="text-align:right">
    <label>Quick Find:
      <input type="text"
             ng-model="ctrl.quickFindResult"
             uib-typeahead="show as show.title for show in ctrl.shows | filter:{title:$viewValue} | limitTo:5"
             typeahead-on-select="ctrl.open(ctrl.quickFindResult)"
             class="form-control">
    </label>

    <button type="button"
            style="margin-bottom: 3px; margin-left: 10px"
            class="btn btn-success"
            ng-click="ctrl.addShows()">Add Shows</button>

  </div>
</div>

<!-- SHOWS section -->
<!--suppress JSUnusedLocalSymbols -->
<div ng-repeat="panel in ctrl.dashboardInfos">
  <tv-panel header="panel.headerText"
            shows="ctrl.shows"
            tv-filter="panel.tvFilter"
            series-detail-open="ctrl.open"
            show-empty="panel.showEmpty"></tv-panel>
</div>

