<div class="modal-header">
  <h1 ng-bind="ctrl.series.title"></h1>
</div>

<div class="modal-body clearfix">

  <div class="col-lg-3">
    <tv-poster show="ctrl.series"
               poster-info="{hideBadge: true}"></tv-poster>
  </div>

  <div class="col-lg-9">
    <div class="row">
      <span class="visible-lg-block largeLabel">Vote</span>
      <div class="btn-group">
      <label class="btn btn-lg votingButton"
             ng-repeat="voteNum in ctrl.possibleVotes"
             ng-class="ctrl.getVoteButtonClass(voteNum)"
             ng-model="ctrl.selectedVote"
             style="font-size: xx-large"
             uib-btn-radio="voteNum">
        <span ng-bind="voteNum"></span>
      </label>
      </div>
    </div>
  </div>

</div>

<div class="modal-footer">
  <input type="button"
         class="btn btn-success"
         ng-click="ctrl.submitVote()"
         value="Submit">
  <input type="button"
         class="btn btn-default"
         ng-click="ctrl.cancel()"
         value="Cancel">
</div>


