<div class="modal-header">
  <h1 ng-bind="ctrl.series.title"></h1>
</div>

<div class="modal-body clearfix">

  <div class="col-lg-3">
    <tv-poster show="ctrl.series"
               poster-info="{}"></tv-poster>
  </div>

  <div class="col-lg-9">

    <div class="row">
      <div class="col-lg-4">
        <span class="visible-lg-block">Open Date</span>
        <span class="largeLabel" ng-bind="ctrl.getOpenDate()"></span>
      </div>
      <div class="col-lg-8">
        <span class="visible-lg-block">Reason</span>
        <span class="mediumLabel" ng-bind="ctrl.tv_group_ballot.reason"></span>
      </div>
    </div>

    <div class="row" style="margin-top: 10px;">
      <div class="col-lg-4">
        <span class="visible-lg-block"
        style="margin-bottom: 5px">Metacritic</span>
        <rating-box value="ctrl.series.metacritic"
                    max-value="100"></rating-box>
      </div>

      <div class="col-lg-4">
        <span class="visible-lg-block"
              style="margin-bottom: 5px">Vote</span>
        <!--suppress HtmlFormInputWithoutLabel -->
        <input type="number"
               class="form-control input-lg"
               ng-model="ctrl.selectedVote"
               min="1"
               max="100">
      </div>
    </div>

  </div>

</div>

<div class="modal-footer">
  <input type="button"
         class="btn btn-success"
         ng-disabled="!ctrl.canSubmit()"
         ng-click="ctrl.submitVote()"
         value="Submit">
  <input type="button"
         class="btn btn-default"
         ng-click="ctrl.cancel()"
         value="Cancel">
</div>


