  <div class="modal-header">
    <h3 class="modal-title">Add New Series</h3>
  </div>

  <div class="modal-body clearfix">

    <div class="alert alert-warning" ng-show="ctrl.showExists">
      Show name already exists!
    </div>

    <div class="row">

      <div class="form-group col-lg-9">

        <div class="col-lg-6">

          <div class="input-group">
            <input type="text"
                   class="darkInput form-control"
                   id="newSeriesTitle"
                   name="newSeriesTitle"
                   placeholder="Series Name"
                   ng-required="true"
                   ng-model-options="{ updateOn: 'blur' }"
                   ng-change="ctrl.updateShowExists()"
                   ng-model="ctrl.series.title"/>
            <span class="input-group-btn">
              <input type="button"
                     class="btn btn-info"
                     value="Search"
                     ng-disabled="ctrl.used_tvdb_ids.length === 0"
                     ng-click="ctrl.updateTVDBMatches()">
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 10px" ng-hide="ctrl.alternateText">
      <div class="col-lg-12">
        <!--suppress JSUnusedLocalSymbols -->
        <div class="fade-repeat col-lg-3 posterRow" ng-repeat="show in ctrl.tvdb_matches">
          <tv-poster show="show"
                     poster-info="ctrl.posterInfo"></tv-poster>

          <!-- SUBTITLE (optional) -->

          <div align="right">
            <h5 ng-bind="show.title"></h5>
          </div>

        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 10px" ng-show="ctrl.alternateText">
      <div class="col-lg-12">
        <span ng-bind="ctrl.alternateText"></span>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-success"
            ng-click="ctrl.ok()"
            ng-show="ctrl.LockService.isUser()"
            ng-disabled="ctrl.selectedShow === null || !ctrl.LockService.isAuthenticated">Submit</button>
    <button class="btn btn-primary"
            ng-click="ctrl.cancel()">Cancel</button>
  </div>
