<div ng-if="ctrl.episode">

  <div class="col-md-8 col-sm-6 col-xs-12">

    <!-- Title -->
    <div class="row">
      <div class="col-lg-12">
        <h2 style="margin-top: 0" ng-bind="ctrl.episode.title"></h2>
      </div>
    </div>

    <!-- Episode Number -->
    <div class="row">
      <div class="col-lg-12">
        <h4>
          <span>Season</span>
          <strong><span ng-bind="ctrl.episode.season"></span></strong>
          <span> - Episode</span>
          <strong><span ng-bind="ctrl.episode.episode_number"></span></strong>
        </h4>
      </div>
    </div>

    <!-- Episode Summary -->
    <div class="row">
      <div class="col-lg-12">
        <span ng-bind="ctrl.episode.tvdb_overview"></span>
      </div>
    </div>

    <!-- Air Date -->

    <div class="row seriesDetailElement" ng-show="!ctrl.LockService.isAdmin()" style="margin-top: 15px">
      <div class="col-lg-12">
        Air Date: <span ng-bind="ctrl.getAirDate()"></span>
      </div>
    </div>

    <div class="alert alert-info"
         ng-if="ctrl.isUnaired()">Episode airs {{ctrl.airedFromNow()}}.</div>

    <div class="row">
      <div class="col-lg-6">
        <!-- Mark Watched -->
        <checkmark-button label="'Mark Watched'"
                          checked-label="'Watched'"
                          button-class="ctrl.getWatchButtonClass"
                          button-is-toggled="ctrl.isWatched"
                          on-click="ctrl.toggleWatched"></checkmark-button>
      </div>

      <div class="col-lg-6">
        <p class="input-group">
          <input type="text"
                 class="form-control"
                 uib-datepicker-popup="{{'dd-MMMM-yyyy'}}"
                 ng-model="ctrl.watchedDate"
                 is-open="ctrl.popup.opened"
                 datepicker-options="ctrl.dateOptions"
                 ng-required="false"
                 close-text="Close"
                 alt-input-formats="ctrl.altInputFormats" />
          <span class="input-group-btn">
            <button type="button"
                    class="btn btn-default"
                    ng-click="ctrl.open()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
    </div>


  </div>

  <div class="col-md-4 col-sm-6 col-xs-12 seriesDetailElement">
    <img class="img-rounded"
         ng-src="{{ctrl.getEpisodeImage()}}"
         width="100%"
         alt="episode image"/>
  </div>

</div>
