<div ng-if="ctrl.isLoading()">
  <h3>Loading...</h3>
</div>

<div ng-if="!ctrl.isLoading()">

  <div class="page-header" style="margin-top: 60px" >
    <div class="row">
      <div class="col-lg-8">
        <button type="button"
                class="btn btn-sm btn-primary backButton"
                ng-if="ctrl.from_sref"
                ng-click="ctrl.goBack()"><img src="../images/back.svg"
                                              width="20"
                                              height="16"
                                              alt="back"> {{ctrl.getBackButtonLabel()}}</button>
      </div>
      <div class="col-lg-4 text-right">
        <h4>Viewer: {{ctrl.getViewerName()}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h1 ng-bind="ctrl.series.title"></h1>
      </div>
    </div>
  </div>

  <div class="row seriesDetailElement">

    <!--  LEFT SIDE -->
    <div class="col-md-2 col-sm-3 col-xs-5">

      <div class="row">

        <!-- POSTER -->
        <div class="col-xs-12 seriesDetailElement">
          <tv-poster show="ctrl.series"
                     poster-info="{}"
                     on-click="ctrl.openChangePoster"></tv-poster>
        </div>

        <!-- DYNAMIC RATING -->
        <div class="col-xs-12 seriesDetailElement" ng-if="ctrl.isInViewerCollection()">
          <rating-box value="ctrl.series.personSeries.dynamic_rating"
                      max-value="100"></rating-box>
        </div>

        <!-- MY SHOWS TOGGLE -->
        <div class="col-xs-11 seriesDetailElement">
          <checkmark-button
              label="'My Shows'"
              button-is-toggled="ctrl.isInMyShows"
              button-class="ctrl.getMyShowsButtonClass"
              on-click="ctrl.toggleInMyShows"></checkmark-button>
        </div>

        <!-- GROUP COLLECTION DROPDOWN -->
        <div class="col-xs-11 seriesDetailElement"
             ng-if="ctrl.detailReady">
          <div class="btn-group btn-block"
               uib-dropdown
               auto-close="disabled"
               is-open="ctrl.groupDropdownOpen">

            <button type="button"
                    class="btn btn-block"
                    uib-dropdown-toggle
                    ng-class="ctrl.getMyGroupsButtonClass()"
                    ng-disabled="disabled"
                    style="padding-left: 7px">
              <div class="text-left">
                <img src="../images/NoCheckmark.svg"
                     width="24"
                     height="24"
                     ng-if="!ctrl.hasAnyGroup()"
                     alt="unchecked">
                <img src="../images/Checkmark.svg"
                     width="24"
                     height="24"
                     ng-if="ctrl.hasAnyGroup()"
                     alt="unchecked">
                {{ctrl.getGroupButtonLabel()}} <span class="caret dropdownCaretSmall"></span>
              </div>
            </button>
            <ul uib-dropdown-menu role="menu">
              <li role="menuitem"
                  ng-repeat="group in ctrl.groups">
                <a href="#"
                   style="padding-left: 7px;"
                   ng-click="ctrl.toggleGroupMembership(group)">
                  <div class="dropdownLeftAlign">
                    <img src="../images/Checkmark.svg"
                         width="20"
                         height="18"
                         ng-if="ctrl.hasGroup(group)"
                         alt="checked">
                    <img src="../images/NoCheckmark.svg"
                         width="20"
                         height="18"
                         ng-if="!ctrl.hasGroup(group)"
                         alt="unchecked">
                    {{group.label}}
                  </div>
                </a>
              </li>
            </ul>
          </div>

        </div>

        <!-- ACTIONS DROPDOWN -->
        <div class="col-xs-11 seriesDetailElement"
             ng-if="ctrl.isInMyShows() || ctrl.LockService.isAdmin()">
          <div class="btn-group btn-block"
               uib-dropdown
               is-open="ctrl.actionDropdownOpen">

            <button type="button"
                    class="btn btn-block btn-default"
                    uib-dropdown-toggle
                    ng-disabled="disabled"
                    style="padding-left: 15px">
              <div class="text-left">
                Actions <span class="caret dropdownCaretSmall"></span>
              </div>
            </button>
            <ul uib-dropdown-menu role="menu">
              <li role="menuitem">
                <a href="#"
                   style="padding-left: 15px;"
                   ng-if="ctrl.canPin()"
                   ng-click="ctrl.pinToDashboard()">
                  <div class="dropdownLeftAlign">
                    {{ctrl.getPinnedText()}}
                  </div>
                </a>
              </li>
              <li role="menuitem">
                <a href="#"
                   style="padding-left: 15px;"
                   ng-if="ctrl.isInMyShows()"
                   ng-click="ctrl.toggleActive()">
                  <div class="dropdownLeftAlign">
                    {{ctrl.getBacklogChoiceLabel()}}
                  </div>
                </a>
              </li>
              <li role="menuitem" ng-if="ctrl.LockService.isAdmin()">
                <a href="#"
                   style="padding-left: 15px;"
                   ng-if="ctrl.LockService.isAdmin()"
                   ng-click="ctrl.openEditSeries()">
                  <div class="dropdownLeftAlign">
                    Edit
                  </div>
                </a>
              </li>
              <li role="menuitem" ng-if="ctrl.LockService.isAdmin()">
                <a href="#"
                   style="padding-left: 15px;"
                   ng-if="ctrl.LockService.isAdmin()"
                   ng-click="ctrl.queueForManualUpdate()">
                  <div class="dropdownLeftAlign">
                    {{ctrl.getTVDBUpdateLabel()}}
                  </div>
                </a>
              </li>
            </ul>
          </div>

        </div>

      </div>
    </div>

    <!-- RIGHT CONTENT COLUMN -->
    <div class="col-md-10 col-sm-7 col-xs-12">

      <div class="row">
        <div class="col-lg-12">

          <div class="row" ng-if="ctrl.episodes">

            <div class="col-lg-12">

              <!-- All Episodes Watched Alert Bar -->
              <div class="row">
                <div class="col-lg-12">
                  <div class="alert alert-info"
                       ng-if="ctrl.watchedAll">All episodes watched!</div>
                </div>
              </div>

              <div class="row">

                <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                  <div ui-view></div>
                </div>

                <!-- EPISODE LIST -->
                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">

                  <!-- SEASON SELECT -->
                  <div class="row seriesDetailElement" ng-show="ctrl.shouldDisplaySeasonList() && ctrl.shouldDisplayEpisodeList()">
                    <div class="col-xs-12">
                      <drop-down dynamic-value="ctrl.getSelectedSeason"
                                 possible-values="ctrl.possibleSeasons"
                                 format-function="ctrl.getSeasonLabel"
                                 badge-value-function="ctrl.getUnwatchedForSeason"
                                 on-change-callback="ctrl.selectSeason"></drop-down>
                    </div>
                  </div>

                  <!-- EPISODE TILES -->
                  <div class="row">
                    <div class="col-xs-12">
                      <episode-summary-tile ng-repeat="episode in ctrl.episodes |
                                    filter:ctrl.episodeFilter |
                                    orderBy:['absolute_number']"
                                            episode="episode"
                                            on-click="ctrl.goToEpisode"
                                            tile-class="ctrl.getTileClass">
                      </episode-summary-tile>
                    </div>
                  </div>


                </div>

              </div>

            </div>

          </div>

        </div>
      </div>

    </div>

  </div>

  <div class="row" style="margin-bottom: 60px">
    <div class="col-xs-12">

    </div>
  </div>
</div>

<!-- WORKAROUND for bootstrap 3 bug where nav pills justified aren't really equal width:
    https://stackoverflow.com/questions/33614854/bootstrap-v3-nav-justified-witdh-not-actually-equal
    https://stackoverflow.com/questions/34756313/same-height-for-nav-tabs -->
<style>
  .nav-pills{
    display: flex;
  }
  .nav-pills li {
    display: flex;
    flex: 1;
  }

  .nav-pills li  a {
    flex: 1;
  }
</style>
