<div class="panel" ng-class="ctrl.panelFormat()" ng-show="ctrl.showPanel()">

  <!-- GROUP HEADER -->
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-8">
        <h3 ng-bind="ctrl.panelInfo.headerText"></h3>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <input type="text"
               ng-show="ctrl.showQuickFilter()"
               placeholder="Quick Find..."
               ng-model="ctrl.titleSearch"
               class="form-control input-lg">
      </div>
      <div class="col-md-4 col-sm-6 col-xs-4 text-right">
        <button type="button"
                ng-if="ctrl.filtersReady"
                ng-click="ctrl.toggleFilterBar()"
                class="btn btn-primary">Show Filters</button>
      </div>
    </div>
    <div class="row" ng-if="ctrl.showFilterBar">
      <div class="col-md-8 col-sm-6 col-xs-12">

        <div class="btn-group"
             uib-dropdown
             ng-repeat="showFilter in ctrl.filters"
             auto-close="disabled">

          <button type="button"
                  class="btn btn-primary"
                  uib-dropdown-toggle>
            <div class="text-left">
              {{showFilter.label}} <span class="caret dropdownCaretSmall"></span>
            </div>
          </button>

          <ul uib-dropdown-menu
              role="menu"
              class="dropdownMenuGenre">
            <li role="menuitem"
                ng-repeat="filterOption in showFilter.cachedValues |
                          orderBy: ['special', 'valueLabel']">

                <a style="padding-left: 7px; padding-right: 7px;"
                   ng-click="ctrl.toggleActive(showFilter, filterOption)">
                  <div class="dropdownMenuItem">
                    <img src="../images/Checkmark.svg"
                         width="20"
                         height="18"
                         ng-if="!!filterOption.isActive"
                         alt="checked">
                    <img src="../images/NoCheckmark.svg"
                         width="20"
                         height="18"
                         ng-if="!filterOption.isActive"
                         alt="unchecked">
                    {{filterOption.valueLabel}} <span class="badge dropdownGenreBadge">{{filterOption.valueCount}}</span>
<!--                    <span class="dropdownOnlyLink">only</span>-->
                  </div>

                </a>


            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>

  <div class="panel-body" style="padding-bottom: 0">

    <div class="row" ng-show="ctrl.showLoading()">
      <div class="col-xs-9 col-lg-6" style="text-align: center; padding-bottom: 20px">
        <h2>Loading...</h2>
      </div>
    </div>

    <div class="row" ng-show="ctrl.showError()">
      <div class="col-xs-9 col-lg-6" style="text-align: center; padding-bottom: 20px">
        <h2>Error fetching shows. Talk to Mayhew.</h2>
      </div>
    </div>

    <div class="row" ng-hide="ctrl.showLoading()">
      <div class="fade-repeat posterRow"
           ng-class="ctrl.imageColumnClass()"
           ng-repeat="show in ctrl.getShows() |
                    orderBy: ctrl.orderBy() : ctrl.reverseSort() |
                    filter: ctrl.allFilter |
                    limitTo: ctrl.pageSize : (ctrl.currentPageUpNext - 1) * ctrl.pageSize">

        <!-- POSTER -->

        <tv-poster show="show"
                   poster-info="ctrl.posterInfo"
                   on-click="ctrl.onClick"></tv-poster>

        <!-- SUBTITLE (optional) -->

        <div align="right" ng-show="ctrl.ArrayService.exists(ctrl.panelInfo.subtitle(show))" style="height: 30px">
          <h5 ng-bind="ctrl.subtitle(show)"></h5>
        </div>

        <!-- BUTTON (optional) -->

        <div align="center" ng-if="ctrl.hasButtonInfo()" style="margin-top: 10px">
          <button type="button"
                  class="btn"
                  ng-class="ctrl.getButtonClass(show)"
                  ng-click="ctrl.doButtonAction(show)">
            {{ctrl.getButtonLabel(show)}}
          </button>
        </div>



      </div>
    </div>


    <!-- PAGE NUMBERS (optional) -->

    <div class="row">
      <div class="col-lg-12" ng-show="ctrl.totalItems() > ctrl.pageSize">
        <ul uib-pagination
            total-items="ctrl.totalItems()"
            ng-model="ctrl.currentPageUpNext"
            items-per-page="ctrl.pageSize"
            max-size="16"></ul>
      </div>
    </div>

  </div>
</div>
