<div class="panel" ng-class="ctrl.panelFormat()" ng-show="ctrl.showPanel()">

  <!-- GROUP HEADER -->
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <h3 ng-bind="ctrl.panelInfo.headerText"></h3>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <input type="text"
               ng-show="ctrl.showQuickFilter()"
               placeholder="Quick Find..."
               ng-model="ctrl.titleSearch"
               class="form-control input-lg">
      </div>
    </div>
  </div>

  <div class="panel-body" style="padding-bottom: 0">

    <div class="row" ng-show="ctrl.showLoading()">
      <div class="col-xs-9 col-lg-6" style="text-align: center; padding-bottom: 20px">
        <h2>Loading...</h2>
      </div>
    </div>

    <div class="row" ng-show="ctrl.showError()">
      <div class="col-xs-9 col-lg-6" style="text-align: center; padding-bottom: 20px">
        <h2>Error fetching shows. Talk to Mayhew.</h2>
      </div>
    </div>

    <div class="row" ng-hide="ctrl.showLoading()">
      <div class="fade-repeat posterRow" ng-class="ctrl.imageColumnClass()" ng-repeat="show in ctrl.getShows() |
                    orderBy: ctrl.orderBy() : ctrl.reverseSort() |
                    filter: ctrl.allFilter |
                    limitTo: ctrl.pageSize : (ctrl.currentPageUpNext - 1) * ctrl.pageSize">

        <!-- POSTER -->

        <tv-poster show="show"
                   poster-info="ctrl.posterInfo"
                   on-click="ctrl.onClick"></tv-poster>

        <!-- SUBTITLE (optional) -->

        <div align="right" ng-show="ctrl.ArrayService.exists(ctrl.panelInfo.subtitle(show))" style="height: 30px">
          <h5 ng-bind="ctrl.subtitle(show)"></h5>
        </div>

      </div>
    </div>


    <!-- PAGE NUMBERS (optional) -->

    <div class="row">
      <div class="col-lg-12" ng-show="ctrl.totalItems() > ctrl.pageSize">
        <ul uib-pagination
            total-items="ctrl.totalItems()"
            ng-model="ctrl.currentPageUpNext"
            items-per-page="ctrl.pageSize"
            max-size="16"></ul>
      </div>
    </div>

  </div>
</div>
