
:root {
  --gray-scale-base: #272b30;
  --gray-scale-2: #353a41;
}

*, h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

h3 {
  font-weight: 800;
  font-variant-caps: small-caps;
  font-size: 28pt;
  margin: 0;
}

h1 {
  font-weight: 800;
  font-variant-caps: small-caps;
  font-size: 36pt;
  margin: 0;
}

.externalServiceFailRow {
  border: solid 2px red;
  color: #FF8888;
}

.btn-sm > li > a {
  font-size: 10pt;
  padding: 9px 12px;
}

.episodeDescription {
  max-width: 300pt;
}

.stagingNavbar {
  background-image: linear-gradient(#8a3136, #7A2228 60%, #70282d);
}

.localNavbar {
  background-image: linear-gradient(#6a3166, #5A2258 60%, #50285d);
}

.checkmarkButton {
  padding: 7px;
}

.dropdownCaretSmall {
  float: right;
  margin: 9px 0;
}

.seriesDetailElement {
  margin-bottom: 15px;
}

.posterRow {
  margin-bottom: 15px;
  text-align: center;
}

.gameRow {
  margin-top: -15px;
  margin-bottom: -15px;
  background-color: #33373F;
}

.gameCard {
  height: 250px;
  /*background-color: green;*/
  padding: 3px;
}

.gameCardInside {
  background-color: #272b30;
  padding: 7px;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.gameImage {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.gameImageContainer {
  height: 100%;
}

.darkInput {
  color: #e1e8ef;
  background-color: #1f2226;
  box-shadow: inset 1px 1px 2px #000;
  border-color: #4e5458;
}

.darkInput::placeholder {
  color: #62686d;
  font-weight: normal;
}

/* SERIES DETAIL - BIG COLUMNS */

.topGrid {
  display: inline-grid;
  grid-template-columns: 220px 250px 370px;
  grid-template-rows: 250px 60px;
  gap: 5px;
}

.leftColumn {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}

.middleColumn {
  grid-column: 2;
  grid-row: 1;
}

.spanningColumn {
  grid-column: 2 / 4;
  grid-row: 1;
}

.rightColumn {
  grid-column: 3;
  grid-row: 1;
  padding-top: 0;
}

.bottomMiddle {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 2;
  justify-self: start;
}

.bottomRight {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row: 2;
  justify-self: end;
}

.personsTooltip {
}

/* SERIES DETAIL - DIVIDERS */

.detailSection {
  background-color: var(--gray-scale-2);
  border-radius: 5px;
  padding: 10px;
}


/* SERIES DETAIL - SCORES */

.scoresSection {
  display: grid;
  grid-template-columns: 80px 72px 50px;
  grid-template-rows: 45px 45px 45px;
  gap: 5px;
  align-items: stretch;
  width: 235px;
}

.scoreOuterBox {
  margin-bottom: 5px;
}

.scoreTitle {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0;
}

.scoreBox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7em;
  font-weight: 800;
  color: white;
  border-radius: 3px;
  padding: 0;
  vertical-align: middle;
}

.ratingInput {
  text-align: center;
  font-size: 1.7em;
  font-weight: 500;
  border-radius: 3px;
  padding: 0;
  width: 100%;
  height: 100%;
}

.seriesRatingInput {
  text-align: center;
  font-size: 1.7em;
  font-weight: 500;
  padding: 0;
  width: 72px;
  height: 45px;
}

.ratingInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.seriesRatingInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ratingSaveButton {
  padding-left: 0;
  padding-right: 0;
  width: 50px;
  height: 45px;
  text-align: center;
}

/* SERIES DETAIL - OWNERSHIP BUTTONS */

.detailRightSide {
  margin-right: 10px;
  padding: 0 10px 10px 0;
}

.adminButtonGroup {
  margin-top: 10px;
}


/* VOTING */

.mediumLabel {
  font-size: x-large;
  margin-bottom: 5px;
}

.largeLabel {
  font-size: xx-large;
  margin-bottom: 5px;
}

.votingButton {
  padding-left: 30px;
  padding-right: 30px;
}

/* RATING BOX */

.ratingBox {
  font-size: 1.7em;
  text-align: center;
  font-weight: 800;
  color: white;
  width: 72px;
  height: 45px;
  border-radius: 3px;
  padding: 0;
}

.ratingBox span {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* GROUP LIST */

.groupPillMembers {
  color: lightblue;
  font-size: 9px;
}

.dropDownSubtitle {
  color: lightblue;
  font-size: 9px;
}

/* SERIES REQUEST */

.alreadyExistsOverlay {
  color: orange;
  font-size: 24pt;
  font-weight: bolder;
  text-shadow: 2px 2px #0c0d0e;
}

.centeredInFrame {
  position: absolute;
  top: 50%;
  left: 50%;
  vertical-align: middle;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
}


/*

TODO: figure out how to make height dynamic based on width, AND color it. Relative positioning makes it impossible.

div.gameCard {
  padding-bottom: 25%;
  position: relative;
  background-color: green;
}

.gameCardInside {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  text-align: center;
  background-color: #8a9196;
  padding: 5px;
}

.gameCardInsideInside {
  background-color: #32383e;
  width: 100%;
  height: 100%;
}

.gameImage {
  object-fit: contain;
  max-width: 100%;
  max-height: 90%;
}
*/


.posterImage {
  position: relative;
  display: block;
}

.posterBadge {
  bottom: 0;
  right: 5pt;
  font-size: 18pt;
  font-weight: bolder;
  vertical-align: bottom;
  text-align: right;
  position: absolute;
  background-color: forestgreen;
  margin-top: 0;
  padding: 0 5pt;
  border-radius: 3pt;
}

.posterTitle {
  color: black;
  font-size: 13pt;
  font-weight: bolder;
}

.addShowButton {
  top: 2pt;
  font-size: 18pt;
  font-weight: bolder;
  vertical-align: bottom;
  horiz-align: center;
  text-align: center;
  position: relative;
  margin-top: 0;
  padding: 0 5pt;
  border-radius: 3pt;
}

.posterBadgeRed {
  bottom: 0;
  right: 11pt;
  font-size: 18pt;
  font-weight: bolder;
  vertical-align: bottom;
  text-align: right;
  position: absolute;
  background-color: darkred;
  margin-top: 0;
  padding: 0 5pt;
  border-radius: 3pt;
}

.pillTabRed {
  background-color: red;
}

.pillTabGreen {
  background-color: #55BB33;
}

.highlightedEntry {
  background-color: #111;
}

.nextUpRow {
  border: solid 2px lime;
  color: lime;
}

.ratingPendingRow {
  border: solid 2px orange;
  color: orange;
}

.custom-typeahead .dropdown-menu li a {
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.unwatchedRow {
  color: lightgreen;
}

.unairedRow {
  color: gray;
}

.headerDropdown {
  background-color: #1c1e22;
}

.form-subsection {
  border-radius: 6px;
  padding: 20px;
}

.form-notselected {
  background-color: #32383e;
}

.form-watched {
  background-color: #32503e;
}

.form-skipped {
  background-color: #5A4C3e ;
}

.skippedRow {
  color: #9A7853;
}

.gameTile {
  margin: 10px;
  padding: 16px 7px;
  background-color: #32383e;
  border-radius: 6px;
}

.smallFieldHeader {
  font-size: 11pt;
  color: #8a9196;
  font-variant-caps: small-caps;
}

.titleEditButton {
  height: 45px;
  margin-left: 25px;
  font-size: 12pt;
  padding-left: 15px;
  padding-right: 15px;
}


/*
  Don't love this approach, but I couldn't find a way to have btn-success override the background-image tag in nav-pills.
  There aren't any styling class options on nav-pills. So I have to replicate some of the existing btn-success CSS code
  manually in a more specific class.
*/

.nav-pills-success > li > a {
  color: black;
  background-image: linear-gradient(#78cc78, #62c462 60%, #53be53);
}

.nav-pills-success > li > a:hover {
  color: black;
  background-image: linear-gradient(#2f7d2f, #379337 40%, #3a9a3a);
}

.ignored {
  color: red;
  text-decoration: line-through;
}

.confirmed {
  color: green;
}


/*
  Styles for blog posts
*/

.blogPost {
  margin: 15px;
  border: 1px #62686d solid;
  background-color: #32383e;
  box-shadow: 4px 6px 8px #1e2023;
  border-bottom-right-radius: 30px;
}

.blogPostHeader {
  background-color: #49515a;
  color: white;
  padding: 0;
  /*overflow: auto;*/
}

.blogPostPoster {
  width: 140px;

  display: block;
  float: right;
}

.blogPostImage {
  border-radius:6px;
}

.blogPostLeftCard {
  margin-right: 15px;
  /*display: inline-block;*/
  vertical-align: top;
  height: 100%;
  float: left;
}

.blogPostRightCard {
  /*display: inline-block;*/
  /*width: 100%;*/
  /*margin-bottom: 10px;*/
  overflow: hidden;
  padding: 10px;
}

.blogPostHeaderRanking {
  display: block;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 38pt;
  font-weight: bold;
  vertical-align: middle;
  background-color: #2e3338;
  text-shadow: 1px 2px 3px black;
}

.blogPostHeaderRatingCaption {
  font-size: 9pt;
  text-align: right;
  margin-top: 25px;
}

.blogPostHeaderRating {
  display: block;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 21pt;
  vertical-align: middle;
  width: 75px;
  float: right;

}


/* TITLE */

.blogPostHeaderTitle {
  font-size: 30pt;
  line-height: 0.9;
  margin-bottom: 10px;
  /*vertical-align: middle;*/
}

.blogPostHeaderSeason {
  font-size: 16pt;
  /*vertical-align: middle;*/
}


/* EPISODES */

.blogPostHeaderEpisodesRow {
  display: block;
  margin-top: 15px
}

.blogPostHeaderEpisodesText {
  display: inline-block;
  font-size: 10pt;
}

.blogPostHeaderEpisodesNumber {
  display: inline-block;
  font-size: 14pt;
  color: white;
  background-color: darkgoldenrod;
  padding: 0 5px;
}


/* FEATURED */

.blogPostHeaderFeaturedLabel {
  font-size: 9pt;
  display: block;
  margin-top: 10px;
}

.blogPostHeaderFeaturedRow {
  display: block;
  vertical-align: middle;
}

.blogPostHeaderFeaturedScore {
  display: inline-block;
  padding: 0 5px;
  font-size: 14pt;
  vertical-align: middle;
}

.blogPostHeaderFeaturedEpNum {
  display: inline-block;
  padding: 5px;
  font-size: 10pt;
  vertical-align: middle;
}

.blogPostHeaderFeaturedEpTitle {
  display: inline-block;
  padding: 5px 7px;
  font-size: 10pt;
  vertical-align: middle;
  background-color: #32383e;
}


/* REVIEW */

.blogPostReview {
  padding: 10px;
  font-weight: lighter;
  color: #a2aab4;
}


/* TOP 20 */


.top20Header {
  background-color: #49515a;
  color: white;
  padding: 0;
  background-size: cover;
  height: 400px;
  /*overflow: auto;*/
}

.top1HeaderRanking {
  display: block;
  text-align: center;
  padding-left: 35px;
  padding-right: 15px;
  font-size: 60pt;
  font-weight: bold;
  vertical-align: middle;
  /*background-color: #2e3338;*/
  /*text-shadow: 1px 2px 3px black;*/
}

.top1Header {
  background-color: #49515a;
  color: white;
  padding: 0;
  background-size: cover;
  height: 600px;
  /*overflow: auto;*/
}

.top20TitleSection {
  margin-right: 5%;
  float: right;
  text-align: right;
}


.top20HeaderTitle {
  font-size: 36pt;
  line-height: 0.9;
  margin-bottom: 0;
  text-shadow: 1px 2px 3px black;
  font-weight: bold;
  /*vertical-align: middle;*/
}

.top1HeaderTitle {
  font-size: 36pt;
  color: black;
  line-height: 0.9;
  margin-bottom: 0;
  font-weight: bold;
  text-shadow: 1px 2px 3px lightgoldenrodyellow;
  /*vertical-align: middle;*/
}

.top20HeaderSeason {
  font-size: 20pt;
  text-shadow: 1px 2px 3px black;
  /*vertical-align: middle;*/
}

.top1HeaderSeason {
  font-size: 20pt;
  color: black;
  /*vertical-align: middle;*/
}

.top20HeaderBottomSection {
  background-color: #1e2023;
  color: white;
  width: 100%;
  padding: 10px;
  overflow: hidden;
}

.top20FeaturedSection {
  float: right;
}

.top20FeaturedLabel {
  font-size: 9pt;
  display: block;
}
