<div class="modal-header">
  <div style="display: flex">
  <h1 ng-bind="ctrl.game.title"></h1>
    <input type="button"
           class="btn btn-default titleEditButton"
           value="Edit"
           ng-click="ctrl.editTitle()">
  </div>
</div>

<div class="modal-body clearfix">

  <div class="form-group col-lg-12">
    <div class="col-lg-6">
      <label class="control-label" for="igdbHintInput">IGDB Hint</label>
      <input class="darkInput form-control"
             id="igdbHintInput"
             name="igdbHintInput"
             ng-model="ctrl.interfaceFields.igdb_hint"/>
    </div>
    <br/>
  </div>

  <div class="fade-repeat col-lg-3 posterRow" ng-repeat="match in ctrl.possibleMatches">
    <img class="img-rounded"
         ng-style="ctrl.posterStyle(match)"
         ng-src="{{match.imageUrl}}"
         ng-click="ctrl.selectMatch(match)"
         width="100%"/>
    <h4 ng-bind="match.igdb_game_title"></h4>
  </div>

  <div class="col-lg-12">
    <span class="smallFieldHeader">HowLong</span>
    <h3 ng-bind="ctrl.game.howlong_title"></h3><br/>

    <span class="smallFieldHeader">GiantBomb</span>
    <h3 ng-bind="ctrl.game.giantbomb_name"></h3><br/>
    <br/>
  </div>

</div>

<div class="modal-footer">
  <input class="btn btn-primary"
         type="button"
         value="OK"
         ng-show="ctrl.LockService.isAdmin()"
         ng-disabled="!ctrl.LockService.isAuthenticated()"
         ng-click="ctrl.ok()">
  <input class="btn btn-default"
         type="button"
         value="Cancel"
         ng-click="ctrl.cancel()">
</div>
